body {
	background-image: url("background.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin: 30px;
}

.header {
	color: palevioletred;
	padding: 30px;
	text-align: center;
}

.wishes {
	background-color: palevioletred;
	color: aliceblue;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.wishes2 {
	background-color: palevioletred;
	color: aliceblue;
	text-align: center;
}
.audio audio {
	background-color: palevioletred;
}

.video video {
	width: 300px;
}

.letsee {
	padding-top: 30px;
	padding-bottom: 30px;
	color: palevioletred;
}

.img img {
	width: 100%;
}

.button button {
	background-color: palevioletred;
	color: aliceblue;
}

.button {
	display: flex;
	justify-content: center;
	margin-top: 5px;
	margin-bottom: 20px;
}

#b1 {
	width: 100px;
	height: 60px;
	border-style: solid;
	background-color: palevioletred;
	position: fixed;
	bottom: 10px;
	right: 5px;
	text-align: center;
}

.cakenote {
	background-color: palevioletred;
	color: aliceblue;
	text-align: center;
}

.cake img {
	width: 100%;
	margin-bottom: 50px;
}
.before {
	color: palevioletred;
	background-color: aliceblue;
}

.both-img img {
	width: 100%;
}

.note2 {
	color: palevioletred;
	background-color: aliceblue;
	font-weight: 10;
}

h1 {
	color: palevioletred;
	text-align: center;
}
